.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 20px;
  bottom: 80px;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 12px;
  max-width: 350px;
  color: #000;
}

.header {
  display: flex;
  justify-content: space-between;
}

.content h3 {
  font-weight: 700;
  font-size: 1.2em;
}

.content p {
  font-size: 0.9em;
  margin: 1em 0;
}
