.userMarker {
  position: relative;
  top: -16px;
  left: -16px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.public {
  top: -32px;
  left: -32px;
  width: 64px;
  height: 64px;
  border: 4px solid #fff;
}

.hover {
  border-color: #1fa8e4;
  cursor: pointer;
}
