.page {
  position: relative;
  background-image: url('/bg.jpg');
  background-size: cover;
  width: 100vw;
  /* Mobile viewport optimizations */
  flex: 1;
}

/* .page div:nth-child(2) {
  position: absolute !important;
  top: 0;
  left: 0;
} */

.globe > div:nth-child(2) {
  visibility: hidden;
  pointer-events: none;
}
